html {
    font-size: 13px;
}

body { 
    font-family: 'Georgia Regular', sans-serif;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
    
}

h1 {     
    @include font ($height: 6.0rem, $size: 4.0rem);
    @include media-mobile {
        @include font ($height: 4.2rem, $size: 3.2rem);
    }
}

h2 {
    @include font($size: 3.4rem, $height: 4.6rem);
    @include media-mobile {
        @include font($height: 3.3rem, $size: 2.4rem);
    }
}

h3 {
    @include font ($size: 2.4rem, $height: 3.4rem);
}

h4 {
    @include font ($size: 2.0rem, $height: 3.0rem, $weight: 600);
}

h5 {
    @include font ($size: 1.6rem, $height: 2.6rem);
}

.block-shadowed {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}