@font-face {
    font-family: 'Georgia Regular';
    src: url('/pages/main/src/fonts/Georgia.eot');
    src: url('/pages/main/src/fonts/Georgia.eot?#iefix') format('embedded-opentype'),
    url('/pages/main/src/fonts/Georgia.woff') format('woff'),
    url('/pages/main/src/fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }