.donation {
    background-color: $color-background;
}

.donation__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    @include media-mobile {
        flex-direction: column-reverse;
    }
}

.donation__form {
    background-color: $color-primary;
    width: 280px;
    height: 43px;
    border-radius: 9px;
    border: none;
}

.donation__legal-text {
    @include font ($size: 1.0rem);
    width: 320px;
    color: gray;
    font-style: italic;
    font-weight: 50;
}

.donation__text {
    font-size: 1.2rem;
}