 .help-container {
    display: flex;
    justify-content: space-between; 
    padding: 30px;
 }

 .item {
    text-align: center;
 }

 .help-column {
    display: flex;
    justify-content: space-around;
    margin: 30px;
 }

 .help__title {
   text-align: center;
   padding: 20px;
 }