.navigation {
    display: flex;
    font-size: 1.5rem;
    line-height: 2.8rem;
}

.navigation__link {
    list-style: none;
    color: $color-light;
    padding: 0 10px;
    cursor: pointer; 
    &:hover {
        color: $color-primary;
    }
}

.header__navigation {
    @include media-tablet {
        display: none;
    }
}