.pets {
    background-color: $color-background;     
}

.pets__button {
    text-align: center;
    padding: 40px;
}

.pet__block {
    text-align: center;
    background-color: rgb(250, 250, 250);
    border-radius: 9px;
    padding: 0 0 30px;
}

.pets__title {
    text-align: center;
    padding: 40px 0 0 0;
}