.start { 
    background-image: url("../img/start/start-screen-background.png"); 
}

.start__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-mobile {
        flex-direction: column-reverse;
    }
}

.start__title {
    color: $color-light; 
}

.start__text {
    color: $color-light; 
    font-size: 1.5rem;
}

.start__button {
    padding: 20px 0 0 0;
}